{%include home_content.html %}
<section id="services">
    <!-- Page Content -->

    
    <div class="container">
        {% for post in site.posts %}
            {% capture thecycle %}{% cycle 'a', 'b' %}{% endcapture %}
            {% include section.html %}
            {% assign page_title = post.title %}
            {% assign page_title = post.name %}
            {% include comment_form.html title=page_title name=page_name%}
            {% include section_comments.html post=post %}
        {%endfor%}
    </div>
</section>
