<div class="current-container">
    <div class="current-sidebar">
        <img src="{{ person.image }}" class="current-container__image__profile">
        <p class="current-name">{{ person.title }}</p>
        <p class="current-position">{{ person.position }}</p>
        <div class="current-container__icon">
            {% if person.links.CV != null %}<a href="{{ person.links.CV }}" style="text-decoration: none;" ><div class="current-icon"><img class="current-icon__filter" src="/images/icons/file-solid.svg" >CV</div></a>{% endif %}
            {% if person.links.Email != null %}<a href="{{ person.links.Email }}" style="text-decoration: none;" ><div class="current-icon"><img class="current-icon__filter" src="/images/icons/envelope-solid.svg" >Email</div></a>{% endif %}
            {% if person.links.Publications != null %}<a href="{{ person.links.Publications }}" style="text-decoration: none;" ><div class="current-icon"><img class="current-icon__filter" src="/images/icons/book-solid.svg" >Publications</div></a>{% endif %}
            {% if person.links.Twitter != null %}<a href="{{ person.links.Twitter }}" style="text-decoration: none;" ><div class="current-icon"><i class="fab fa-fw fa-twitter-square" style="margin-right: 5px; color: #eaeaea; height: 20px; width: 20px;" ></i>Twitter</div></a>{% endif %}
            {% if person.links.Website != null %}<a href="{{ person.links.Website }}" style="text-decoration: none;" ><div class="current-icon"><img class="current-icon__filter" src="/images/icons/globe-solid.svg" >Website</div></a>{% endif %}
        </div>
    </div>
    <div class="current-container__text">
        <p class="current-content">{{ person.content | markdownify }}</p>
    </div>
</div>