<section id="introduction">
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Our Mission:</h2>
                    <p class="lead">We seek to translate inferences from evolutionary biology to improve human health and empower K-12 education. Click <a href="/research.html"> here </a> to learn more about our research. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/transfer.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Microbial Genomics Sequencing</h2>
                    <p class="lead">We offer high-throughput sequencing services on Illumina's NextSeq 500 platform.
                        <break>
                            In addition to this, we offer custom bioinformatic services to suit any of your microbial genetics needs.
                            <break> Click <a href="https://www.migs.pitt.edu/">here</a> to learn more about the services we offer.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/nextseq.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <img class="img-responsive" src="images/evolvingstem.png" alt="">
                    <p class="lead">
                        The best way to learn and encourage excitement in young people about science is through a hands-on approach. The EvolvingSTEM program provides a ready-to-implement hands-on curriculum for high schoolers to learn evolution, microbiology, basic biotechnology, and get excited about STEM research careers.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <br><br><br>
                    <img class="img-responsive center-block" src="images/class.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
</section>