 <section>
{% for comment_hash in site.data.comments %} 

    {% capture post_title %}{{ post.title | uri_escape }}{% endcapture %} 
    {% assign comment = comment_hash[1] %} 

    {% capture comment_post_title %}{{ comment.title | uri_escape }}{% endcapture %} 
    
    {% if comment_post_title == post_title %}
        <div class="comment-section-{{thecycle}}">
            <div class="container" id="{{post.title}}">
                <div class="row align-items-center">

                    <div class="col-md-6 col-md-offset-2">
                    <p class="lead">
                        {{comment.message | markdownify}}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    
     {% endif %}
   

{% endfor %}
 </section>