{% for comment_hash in site.data.comments %} 
    {% assign comment = comment_hash[1] %} 

    {% capture comment_post_title %}{{ comment.postTitle | uri_escape }}{% endcapture %} 
    {% capture post_title %} {{post.title | uri_escape}}{% endcapture %}
    
    <section>
        <div class="content-section-a">
            <div class="container" id="{{post.title}}">
                <div class="row align-items-center">

                    <div class="col-md-8 col-md-offset-4">
                    <p class="lead">
                        {{comment.message | markdownify}}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endfor %}