
<section id="services">
    <!-- Page Content -->
    {% include home_content.html %}
    <div class="container">
        {% for post in site.posts %}

        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            {% if post.image%}
            <div class="col-md-2 col-md-offset 2">
                <img class="image-responsive" src={{post.image}} alt=""><br>
            </div>
            <div class="col-md-6">
                <h2 class="section-heading">
                    <center>{{post.title}}</center>
                </h2>
                <h2 class="section-heading">
                    <center>{{post.subtitle}}</center>
                </h2>
                {{post.content | markdownify}}
            </div>
            {%else%}
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">
                    <center>{{post.title}}</center>
                </h2>
                <h2 class="section-heading">
                    <center>{{post.subtitle}}</center>
                </h2>
                {{post.content | markdownify}}
            </div>
            {%endif%}
        </div>
        {%endfor%}
    </div>
</section>
