--- 
layout: default 
---

{{page.content | markdownify}}

<section id="services">
    <!-- Page Content -->
    {% for person in site.people %}
    

        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="clearfix visible-xs"></div>
                <img class="img-responsive" src={{person.image}} alt=""><br>
                <p><a href={{person.cv}}>CV</a> | <a href="mailto:{{person.contact}}">Contact</a> | <a href={{person.publications}}>Publications</a></p>
                <!--<a href="https://twitter.com/vscooper" class="twitter-follow-button" data-show-count="false">Follow @vscooper</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="clearfix visible-xs"></div>
                <div class="clearfix"></div>
                <h2 class="section-heading">
                    <center>{{person.position}}:</center>
                </h2>
                <h2 class="section-heading">
                    <center>{{person.title}}</center>
                </h2>
                <p class="lead">
                    {{person.content}}
                </p>
            </div>
        </div>
    <!-- /.content-section-b -->
    {% endfor %}


</section>