--- 
layout: page
---

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="clearfix visible-xs"></div>
                <img class="img-responsive" src={{page.image}} alt=""><br>
                <p><a href={{page.cv}}>CV</a> | <a href="mailto:{{page.contact}}">Contact</a> | <a href={{page.publications}}>Publications</a></p>
                <!--<a href="https://twitter.com/vscooper" class="twitter-follow-button" data-show-count="false">Follow @vscooper</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="clearfix visible-xs"></div>
                <div class="clearfix"></div>
                <h2 class="section-heading">
                    <center>{{page.position}}:</center>
                </h2>
                <h2 class="section-heading">
                    <center>{{page.title}}</center>
                </h2>
                <p class="lead">
                    {{page.content}}
                </p>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>