
<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include page_header.html %}
        
        <div class="content-section-a">
            <div class="container">
                {{page.content | markdownify}}
            </div>
        </div>
        
        {% for collection in site.collections %} 
        
            {%assign page_name_list = page.name | split: "." %}
            {%assign page_name = page_name_list.first | capitalize%}
        
            {% if collection.title == page.title %} 
                {% assign iscollection = true %}
            {%elsif collection.title == page_name %}
                {% assign iscollection = true %}
            {%else%}
                {% assign iscollection = false%}
            {%endif%}
        
            {% if iscollection == true %}
                {% for post in collection.docs%}
                {% capture thecycle %}{% cycle 'a', 'b' %}{% endcapture %}
                {% include section.html sectiontype=thecycle%}
                {% endfor %}
            {%else%}
            {% endif %} 
        
        {% endfor %}

	</body>
</html>
